.menuContainer{
	display: grid;
	width: 75vw;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 15px;
}

@media (max-width: 700px) {
	.menuContainer{
		width: 90vw;
	}
}
@media (max-width: 500px) {
	.menuContainer{
		width: 95vw;
	}
}
@media (max-width: 300px) {
	.menuContainer{
		width: 98vw;
	}
}